#restaurants-list li {
  border: 1px solid #999;
  border-radius: 16px;
}

/* Larger font size, overwrite styles.css */
#restaurants-list li h1 {
  font-size: 24px;
}

#restaurants-list li p {
  font-size: 18px;
}

/* Rounded top corners for restaurant thumbnails */
#restaurants-list li img {
  border-radius: 15px 15px 0 0;
}

/* Button: View Details */
#restaurants-list li a {
  display: block;
  border: 0;
  border-radius: 5px;
  background: #0d47a1;
}

#restaurants-list li a:hover,
#restaurants-list li a:focus {
  background: #1e88e5;
}

/* Improves accessibility contrast */
#restaurants-list li h1 {
  color: #BF360C;
}

/* Info section below thumbnail image */
.restaurant-info {
  padding: 0 15px 15px;
}