/*
   Note: Height of header = nav = 80px;
*/
#breadcrumb {
  /* Leave room for header */
  margin-top: 80px;
  padding: 5px 20px;
}

/* Default map height is full screen */
.inside #map-container {
  height: 100vh;
}

/* Clearer breadcrumb text */
#breadcrumb li {
  font-size: 28px;
}

h2 {
  color: #bf360c;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
  padding-top: 20px;
}

#restaurant-img,
#restaurant-cuisine {
  width: 100%;
}

/* Larger font size, overwrite styles.css */
#restaurant-address {
  font-size: 20px;
}

/* Reviews */
#reviews-list li {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

/* To avoid footer overlap */
#reviews-list li:last-child {
  margin-bottom: 80px;
}

#reviews-list li .header,
#reviews-list li div {
  padding: 10px;
}

#reviews-list li .header {
  background-color: #252831;
  color: white;
  font-size: 1.3rem;
}

/* Rating */
#reviews-list li [class^="rating-"] {
  padding: 10px;
  border-radius: 3px;
  font-size: 1.2rem;
  display: inline-block;
}

/* Color code ratings base on result */
#reviews-list li .rating-5,
#reviews-list li .rating-4 {
  background-color: #2e7d32;
  color: white;
}

#reviews-list li .rating-3 {
  background-color: #fff59d;
  color: black;
}

#reviews-list li .rating-2,
#reviews-list li .rating-1,
#reviews-list li .rating-0 {
  background-color: red;
  color: black;
}



@media screen and (max-width: 800px) {
  /* Full screen width instead of half */
  /* .inside #restaurant-container,
  .inside #map-container {
    width: 100%;
  } */

  .inside #map-container {
    height: 30vh;
    /* Undo fixed position */
    position: static;
  }
}