* {
  /* Include padding and border in the element's total width and height */
  box-sizing: border-box;
}

/* Overwrite font-size in styles.css */
body, td, th, p {
  font-size: 18px;
}

/* Vertically align header */
nav h1 {
  padding-top: 23px;
}

/* Improves accessibility contrast */
#footer {
  background-color: #252831;
}